/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');/*font-family: 'Roboto Condensed', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');/*font-family: 'Raleway', sans-serif;*/
*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

body{
    background-image: url("../imgs/background.jpg");
    background-repeat: no-repeat, no-repeat;
    position: relative;
    width: 100vh;
    height: 100vh;
    background-size: cover;
}

/*container*/
.container{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
}
.container-content{
    background-color: #ebdddd;
    width: 50rem;
    height: 50rem;
    border-radius: 20px;
    box-shadow: 0px 0px 50px;
    overflow: auto;
}
h1{
    font-size: 3rem;
    font-family: 'Raleway', sans-serif;
} 
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.2rem;
}

button.todo-add{
    border-radius: 100%;
    background-color: #8592ff;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    transition: .2s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.301);

}

button.todo-add:hover{  
    transition: .2s;
    filter: brightness(0.9);
}

/*Janela modal*/
.modal{
    position: fixed;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    transform: scale(1.1);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.1s ease-in-out, transform 0.1s ease-in-out, opacity 0.1s ease-in-out;
}

.modal-content{
    background-color:#fff;
    padding:16px 24px;
    width: 384px;
    border-radius: 25px;
}

span.modalClose{
    float: right;
    width: 24px;
    cursor: pointer;
    background-color: lightgray;
    text-align: center;
    line-height: 24px;
    transition: .2s;
}

span.modal:hover{
    transition: .2s;
    background-color: darkgray;
}

.show-modal{
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}

input[type=text]{
    border-radius: 5px;
    height: 30px;
    width: 250px;
    border: 1px solid black
}

textarea{
    border: 1px solid black;
}

.botãoConcluida{
    font-family: 'Inconsolata', monospace;
    font-size: 1.2em;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: rgba(158, 234, 253, 0.479);
    border:1px solid rgba(0, 0, 0, 0.404);
}

.botãoConcluida:hover{
    transition:.2s;
    background-color: rgb(158, 234, 253);
    cursor: pointer;
    border:1px solid rgba(0, 0, 0, 0.623);
}

.data{
    font-family: 'Inconsolata', monospace;
    font-size: 1.2em;
}

label.formModal{
    margin-top: 100px;
    font-family: 'Inconsolata', monospace;
    font-size: 1.2em;
}

.areaTarefas{
    width: 500px;
    height: 200px;
    border:2px solid rgba(0, 0, 0, 0.623);
}


button.sendData{
    font-family: 'Inconsolata', monospace;
    margin-top: 2rem;
    width: 5rem;
    height: 2rem;
    border-radius: 5rem;
    background-color: #00ff37;
    cursor: pointer;
    transition: .2s;
}

button.sendData:hover{
    transition: .2s;
    color: #000000;
    filter: brightness(0.7); 
}

/*Lista de tarefas*/

p.todo-title{
    font-size: 2.3rem;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 1rem;
    color: #000000;
}

p.todo-description{
    font-size: 1.1rem;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 1rem;
    color: #808080;
}

.checkBox{
    display: flex;
    justify-content: flex-end;
}

div.tesk{
    border: 2px solid rgba(0, 0, 0, 0.589);
    margin-left: .5rem;
    margin-right: .5rem;
    margin-top: .5rem;
    margin-bottom:  5px;
    border-radius: 8px;
    background: rgb(129,213,252);
    background: -moz-linear-gradient(180deg, rgba(129,213,252,1) 0%, rgba(152,222,255,1) 49%, rgba(129,213,252,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(129,213,252,1) 0%, rgba(152,222,255,1) 49%, rgba(129,213,252,1) 100%);
    background: linear-gradient(180deg, rgba(129,213,252,1) 0%, rgba(152,222,255,1) 49%, rgba(129,213,252,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#81d5fc",endColorstr="#81d5fc",GradientType=1);
    box-shadow: 2px 0px 7px #00000048; 
}

span.spanInput{
    width: 22px;
    height: 22px;
    margin: 7px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    border-radius: 4px;
    border: 3px solid #2bff00;
    cursor: pointer;
    background-image:url('../imgs/checkmark.png');
    transition: .2s;
}

span.spanInput:hover{
    filter: brightness(0.9);
    transition: .2s;
}

::-webkit-scrollbar{
    background-color: none;
    width: 0;
}
@media(max-width:1000px){
    body{
        background-image: url("../imgs/background.jpg");
        background-repeat: no-repeat, no-repeat;
        position: relative;
        width:50vh;
        height: 230vh;
        background-size: cover;
    }
    
    .container-content{
        width: 40rem;
        height: 40rem;
    }

}

@media(max-width:770px){
    body{
        background-image: url("../imgs/background.jpg");
        background-repeat: no-repeat, no-repeat;
        position: relative;
        width:50vh;
        height: 200vh;
        background-size: cover;
    }
    
    .container-content{
        width: 30rem;
        height: 30rem;
    }
    
    button.todo-add{
        width: 3.5rem;
        height: 3.5rem;
    }
}

@media(max-width:630px){
    .container-content{
        width: 25rem;
        height: 25rem;
    }

    div.tesk{
        width: 24rem;
        height: 5rem;
    }
}
@media(max-width:480px){
    body{
        background-image: url("../imgs/background.jpg");
        background-repeat: no-repeat, no-repeat;
        position: relative;
        width:50vh;
        height: 250vh;
        background-size: cover;
    }

    .container-content{
        width: 20rem;
        height: 20rem;
    }
    
    h1{
        font-size: 1.8rem;
    }

    button.todo-add{
        width: 3rem;
        height: 3rem;
    }

    div.tesk{
        width: 19rem;
        height: 5rem;
    }

    span.spanInput{
        width: 15px;
        height: 15px;
        background-color:#2bff00;
        cursor: pointer;
        transition: .2s;
        background-image: none;
    }

    p.todo-title{
        font-size: 1.7rem;
    }
    p.todo-description{
        font-size: .8rem;
    }
}